.title {
  &-small {
    letter-spacing: 0.1rem;
    font-size: 0.4rem;
  }
  &-so {
    font-size: 0.3rem;
  }
}

.text {
  &-primary {
    color: var(--primary);
  }
  &-hint {
    color: #c7c1c1;
  }
}
