@use "base" as *;
@use "reset" as *;

.grid-container {
  display: grid;

  grid:
    "picture header" auto
    "aside main" 1fr
    / 280px 1210px;
}

header {
  grid-area: header;
  background: linear-gradient(to right, var(--primary), var(--light));
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 1rem;
    line-height: 0.5rem;
    font-weight: 50;
    letter-spacing: 0.2rem;
  }
}

.picture {
  grid-area: picture;
  padding: 1rem;
  img {
    border-radius: 50%;
  }
}

aside {
  grid-area: aside;
  background: var(--background);
  border-right: 1px solid var(--hint);
}

main {
  grid-area: main;
  background: var(--background);
}
