@use "base" as *;
@use "reset" as *;

.grid-container {
  display: grid;
  min-height: 100vh;
  grid:
    "picture header" auto
    "aside main" 1fr
    / 350px auto;
}

header {
  grid-area: header;
  background: linear-gradient(to right, var(--primary), var(--light));
  padding: 10rem 5rem;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 6rem;
    line-height: 8rem;
    font-weight: 300;
    letter-spacing: 3rem;
  }
  p {
    letter-spacing: 0.5rem;
  }
}

.picture {
  grid-area: picture;
  padding: 6rem;
  background: green;
  img {
    border-radius: 50%;
  }
}

aside {
  grid-area: aside;
  background-color: blue;
}

main {
  grid-area: main;
  background-color: purple;
}
